/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2014, 5:53:34 PM
    Author     : Ben
*/
h1{
    color: red;
    text-decoration: underline;
}
.meImg{
    float:left;
    padding: 5px;
    margin: 5px;
    height: 144px;
    width: 192px;
}

div{
    
    margin: auto 0px;
}
div div{
    border: 1px dashed black;
    padding: 5px;
    margin: 5px;
    width: 350px;
}
